html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Chivo', serif;
}

h2, h4 {
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    text-align: center;
    color: white;
}

button {
    cursor: pointer;
}

.chart {
    height: 600px;
    /*background-color: lightblue;*/
    background-color: #939393;
    overflow: hidden;
    padding-left: 20px;
    text-align: center;
    border-top: #535353 solid 2px;
    border-left: #535353 solid 2px;
}

.chart-title {
    padding-top: 10px;
}

.filters {
    height: 600px;
    width: 20%;
    float: left;
    background-color: #ECEBEC;
}
.filters #selectAllButton {
    float: right;
    background-color: lightgrey;
    cursor: pointer;
    border: 1px solid;
}

#selectAllButton:hover {
    background-color: #aaaaaa;
}

.businesses {
    width: 100%;
    height: 65%;
    background-color: #FFF9AF;
    padding-left: 20px;
    padding-right: 15px;
    overflow-y: scroll;
    border-top: #535353 solid 2px;
    border-bottom: #535353 solid 2px;
}
.cities {
    width: 100%;
    height: 35%;
    padding-left: 20px;
    padding-right: 15px;
    border-bottom: #535353 solid 2px;
    overflow-y: scroll;
    background-color: #D9FFB3;
}

.container {
    background-color: #303030;
    /*background-color: #ffcc33;*/
    margin: auto;
}
.title {
    width: 100%;
    margin-top: -20px;
    margin-bottom: -20px;
    background-color: #303030;
    padding: 10px;
}
.title h2 {
    color: white;
    padding-left: 50px;
}
.title a {
    color: white;
    float: right;
    margin-top: 25px;
    padding-right: 20px;
}
.clear {
    clear: both;
}
label {
  display: block;
  padding-left: 15px;
  text-indent: -15px;
  font-size: 12px;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
     box-sizing: border-box;
}


input[type=range] {
    /*removes default webkit styles*/
    -webkit-appearance: none;

    /*fix for FF unable to apply focus style bug */
    border: 1px solid white;

    /*required for proper track sizing in FF*/
    width: 300px;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
    margin-top: -4px;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

input[type=range]::-moz-range-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]::-ms-track {
    width: 300px;
    height: 5px;

    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;

    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;

    /*remove default tick marks*/
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #777;
    border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
    background: #ddd;
    border-radius: 10px;
}
input[type=range]::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
}
input[type=range]:focus::-ms-fill-lower {
    background: #888;
}
input[type=range]:focus::-ms-fill-upper {
    background: #ccc;
}

/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    font-size: 12px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    float: right;
    margin: 20px 10px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content div {
    color: black;
    padding: 8px 8px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content div:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.slider-wrapper {
    display: none;
}

.nodata h2 {
    margin: 20px;
    color: lightgrey;
}
